

.create-habit {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 1px rgba(0,0,0, 0.2);
  padding: 20px 25px;
  position: relative;
  transition: all 1s;

  > .close {
    position: absolute;
    right: 3px;
    top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2px;
    border: none;
  }

  > div {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
    align-items: center;
  }

  .ant-steps {
    width: auto;
  }

  .steps-content {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding: 40px 20px;
    flex: 1;
  }

  .steps-action {
    margin-top: 24px;

    > button:first-child {
      margin-right: 20px;
    }
  }

  .input-field {
    height: 40px;
    position: relative;

    > input {
      width: 100%;
      height: 20px;
      margin-top: 20px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid rgba(0,0,0, .2);
      transition: border-bottom-color .2s;

      padding: 1px .5em;
    }
    > input:focus,
    > input:active {
      border-bottom-color: #108ee9;
    }

    > .holder {
      position: absolute;
      top: 0;
      left: 1em;
      transform: translateY(18px);
      color: #108ee9;

      pointer-events: none;

      transform-origin: 0 0 0;
      transition: transform .2s, color .2s;
    }
    > .holder.active {
      transform: translateY(0) translateX(-.5em) scale(.7);

      //color: rgba(0,0,0, .5);
      color: #108ee9;
    }

    > .select-list {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255,255, .8);

      //height: 0;
      //overflow: hidden;
    }
  }
}

.create-habit.close {
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
}