
$fontSize: 14;
$ratio: 1 / 7;
$ratioPercentage: percentage($ratio);
$mainColor: #108ee9;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-size: 14px;
}

::-webkit-scrollbar {
  //display: none;
  //width: 0;
}

input:focus,
input:active {
  outline: none;
}

//#qwe {
//  .root {
    @import "./components/calendar";
    @import "./components/header";
    @import "./components/createHabit";

    @import "./pages/app";
    @import "./pages/list";
  //}
//}

// components like popup
@import "./components/popup";